<div class="row">
    <div class="large-6 columns">
        @using (Html.BeginForm("Create", "Home"))
        {
            <button type="submit" class="button">Create a new account</button>
        }
    </div>
</div>
